mGPT/
weights-only/
mybible/'Concordancia
mybible/20cNT.bbl.mybible
mybible/20cNT.bbl.mybible.db
mybible/20cNT.bbl.sqbpro
mybible/AFV+.bbl.mybible
mybible/AFV+.bbl.mybible.db
mybible/AFV+.dct.mybible
mybible/AFV.bbl.mybible
mybible/BHSE.bbl.mybible
mybible/BHSE.dct.mybible
mybible/BHSEk.bbl.mybible
mybible/BHSEri.bbl.mybible
mybible/BHSErik.bbl.mybible
mybible/Byzantine2005.bbl.mybible
mybible/ETCBC.bbl.mybible
mybible/ETCBC.dct.mybible
mybible/GRVx.bbl.mybible
mybible/Gesenius.dct.mybible
mybible/GreekGrammar.bok.mybible
mybible/HB2.bbl.mybible
mybible/HGPD.bbl.mybible
mybible/HL.dct.mybible
mybible/HebrewBible.bbl.mybible.zip
mybible/HebrewGrammar.bok.mybible
mybible/HiSB.bbl.mybible
mybible/JMNT.bbl.mybible
mybible/KoineGreek.ttf
mybible/LighthouseBible.bbl.mybible
mybible/Mounce.dct.mybible
mybible/OEBcw.bbl.mybible
mybible/OEBus.bbl.mybible
mybible/OGNTe+.dct.mybible'
mybible/OGNTe.bbl.mybible
mybible/OGNTe_Morf.dct.mybible
mybible/OpenGNT.bbl.mybible
mybible/OpenGNTLexicon.dct.mybible
mybible/OpenGNTOTLA.bbl.mybible
mybible/OpenGNTRMAC.dct.mybible
mybible/OpenGNTa.bbl.mybible
mybible/OpenGNTbe.bbl.mybible
mybible/OpenGNTd.dct.mybible
mybible/OpenGNTk.bbl.mybible
mybible/OpenGNTnet.bbl.mybible
mybible/OpenHB-BDB.dct.mybible
mybible/OpenHB-BHSMorphology.dct.mybible
mybible/OpenHB-LA.bbl.mybible
mybible/OpenHB-NET.bbl.mybible
mybible/OpenHB-Parallel.bbl.mybible
mybible/OpenHB.bbl.mybible
mybible/OpenHBLexicon.dct.mybible
mybible/OpenHBa.bbl.mybible
mybible/OpenHBd.dct.mybible
mybible/SEC.dct.mybible
mybible/abp.bbl.mybible
mybible/abp.bbl.mybible.db
mybible/akjv.bbl.mybible
mybible/alxx.bbl.mybible
mybible/asv.bbl.mybible
mybible/bbe.bbl.mybible
mybible/berean-bib.bbl.mybible
mybible/berean-interlinear.bbl.mybible
mybible/berean-interlinear.dct.mybible
mybible/bishops.bbl.mybible
mybible/byz2005++.bbl.mybible
mybible/coverdale.bbl.mybible
mybible/drc.bbl.mybible
mybible/ebr.bbl.mybible
mybible/emtv.bbl.mybible
mybible/erv.bbl.mybible
mybible/geneva.bbl.mybible
mybible/great.bbl.mybible
mybible/hnv.bbl.mybible
mybible/isv.bbl.mybible
mybible/kjv2000.bbl.mybible
mybible/kjvlite.bbl.mybible
mybible/leb.bbl.mybible
mybible/logos.bbl.mybible
mybible/lxxe.bbl.mybible
mybible/matthew.bbl.mybible
mybible/mgnt.bbl.mybible
mybible/mkjv.bbl.mybible
mybible/mod.py
mybible/mod2.py
mybible/mod3.py
mybible/net.bbl.mybible
mybible/nheb-an.bbl.mybible
mybible/nheb-je.bbl.mybible
mybible/nheb-jm.bbl.mybible
mybible/nheb-me.bbl.mybible
mybible/nheb-yhwh.bbl.mybible
mybible/nheb.bbl.mybible
mybible/rmac.dct.mybible
mybible/rnkjv.bbl.mybible
mybible/slt.bbl.mybible
mybible/t4t.bbl.mybible
mybible/tanakh++.bbl.mybible
mybible/tanakh+.bbl.mybible
mybible/tanakh.bbl.mybible
mybible/tyndale.bbl.mybible
mybible/udb.bbl.mybible
mybible/ukjv.bbl.mybible
mybible/ulb.bbl.mybible
mybible/ult.bbl.mybible
mybible/ust.bbl.mybible
mybible/vw.bbl.mybible
mybible/web.bbl.mybible
mybible/webbe.bbl.mybible
mybible/webbme.bbl.mybible
mybible/webme.bbl.mybible
mybible/webster.bbl.mybible
mybible/webu.bbl.mybible
mybible/wesley.bbl.mybible
mybible/weymouth-jm.bbl.mybible
mybible/weymouth-me.bbl.mybible
mybible/weymouth.bbl.mybible
mybible/wpnt.bbl.mybible
mybible/wycliffe.bbl.mybible
mybible/ylt.bbl.mybible
mybible/η-καινη-διαθηκη-του-ιησου-χριστου.bbl.mybible
